<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BackTile.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,0},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>DiscordButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,0},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>Fiberglass_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{591,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,127}}</string>
                <key>sourceSize</key>
                <string>{591,127}</string>
            </dict>
            <key>GameProgressBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,399},{600,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,20}}</string>
                <key>sourceSize</key>
                <string>{600,20}</string>
            </dict>
            <key>LevelLabelFill.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,212},{559,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{559,56}}</string>
                <key>sourceSize</key>
                <string>{559,56}</string>
            </dict>
            <key>MoreGamesPopup.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,0},{101,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,87}}</string>
                <key>sourceSize</key>
                <string>{101,87}</string>
            </dict>
            <key>PauseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>PlayButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,119},{431,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,91}}</string>
                <key>sourceSize</key>
                <string>{431,91}</string>
            </dict>
            <key>SelectCellIndicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,0},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>SettingsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,119},{431,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,91}}</string>
                <key>sourceSize</key>
                <string>{431,91}</string>
            </dict>
            <key>Slion_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,0},{316,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,117}}</string>
                <key>sourceSize</key>
                <string>{316,117}</string>
            </dict>
            <key>YoutubeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Spritesheet_1.png</string>
            <key>size</key>
            <string>{898,419}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67142f7766a7da9ae9246f7cf2115726:969bf69b4656b820f44cb4417a534799:d6d3de3ac69021870c91c2c268c7afc3$</string>
            <key>textureFileName</key>
            <string>Spritesheet_1.png</string>
        </dict>
    </dict>
</plist>
